@charset "UTF-8";
   .sub_news, .sub_news th, .sub_news td{
             border: 0
        }

        .sub_news a{
            color: #383838;
            text-decoration: none
        }
        .sub_news{
            width: 183%;
            border-bottom: 1px #999;
            color: #666;
            font-size: 12px;
            table-layout: fixed;
        }
        .sub_news caption{
            display: none;
        }
        .sub_news th{
            padding: 5px 0 6px;
            border-top: solid 1px #999;
            border-bottom: solid 1px #b2b2b2;
            background-color: #f1f1f4;
            color: #333;
            font-weight:bold;
            line-height: 20px;
            vertical-align: top;
         
        }

        .sub_news td{
            padding: 8px 10px 9px;
            border-bottom : solid 1px #d2d2d2;
            line-height:18px;
            color: white;
            
        }
        .sub_news .date,.sub_news .views{
            padding: 0;
            font-family: Tahoma;
            font-size: 11px;
            line-height: normal;
        }
        .sub_news .title{
            text-align: left;
            padding-left: 15px;
            font-size: 13px;
        }
        .sub_news .title .pic, .sub_news .title .new{
            margin: 0 0 2px;
            vertical-align: middle;
        }

        .container{
           /* border: 1px solid red;*/
            width: 1024px;
        }
        .button{
           
            border: 1px solid #999;
            width: 50px;
            text-align: center;
            color: #666;
            font-size: 12px;
            padding: 7px 10px 6px;
            border-radius: 3px;
            margin-bottom:  12px;
            margin: 5px;
         }

          .button:hover{
              cursor: pointer;
          }
          

         tr .best{
            background-color :#d2d2d2;

         }

        #submit{
          background-color: #999;
          color: white;  
        }

        #cancel,#submit{
            margin-top: 10px;
            float: right;
        }
        #goList{
            margin-top: 10px;
            float: left;
        }
        #fname{
position: relative;
    left: 78px;
    top: -21px;
    font-size: 14px;
    background: black;
 
    
    width: 129px;
        }