@charset "UTF-8";
 .sub_news, .sub_news th, .sub_news td{
             border: 0
        }

        .sub_news a{
            color: #383838;
            text-decoration: none
        }
        .sub_news{
            width: 100%;
            border-bottom: 1px #999;
            color: #666;
            font-size: 12px;
            table-layout: fixed;
        }
        .sub_news caption{
            display: none;
        }
        .sub_news th{
            padding: 5px 0 6px;
            border-top: solid 1px #999;
            border-bottom: solid 1px #b2b2b2;
            background-color: #f1f1f4;
            color: #333;
            font-weight:bold;
            line-height: 20px;
            vertical-align: top;
        }

        .sub_news td{
            padding: 8px 0 9px;
            border-bottom : solid 1px #d2d2d2;
            text-align: center;
            line-height:18px;
        }
        .sub_news .date,.sub_news .views{
            padding: 0;
            font-family: Tahoma;
            font-size: 11px;
            line-height: normal;
        }
        .sub_news .title{
            text-align: left;
            padding-left: 15px;
            font-size: 13px;
        }
        .sub_news .title .pic, .sub_news .title .new{
            margin: 0 0 2px;
            vertical-align: middle;
        }

        .container{
           /* border: 1px solid red;*/
            width: 1024px;
        }
        .sub_news tbody tr:hover .title{
            text-decoration: underline;
        }
        .sub_news tbody tr:hover{
        background-color : #f1f1f4; 
        cursor: pointer;  
        }
       #search,#searchVal{
            border: 1px solid #999;
            width: 50px;
            text-align: center;
            color: #666;
            font-size: 12px;
            padding: 5px 0 6px;
            border-radius: 3px;
            margin-top: 12px;
            position: relative;
        }

         #search:hover{
            background-color :#d2d2d2;
            cursor: pointer; 
         }

         #write:hover{
            background-color :#d2d2d2;
            cursor: pointer; 
         }

         #write{
            float: right;
            border: 1px solid #999;
            width: 50px;
            text-align: center;
            color: #666;
            font-size: 12px;
            padding: 5px 0 6px;
            border-radius: 3px;
            margin-bottom:  12px;
            margin-top: 7px;  
         }

         #searchVal{
            border: 1px solid #999;
            width: 200px;
            text-align: center;
            color: #666;
            font-size: 12px;
            padding: 5px 0 6px;
            border-radius: 3px;
           
         }

         #searchOpt{
            border: 1px solid #999;
            width: 60px;
            text-align: center;
            color: #666;
            font-size: 12px;
            padding: 5px 0 6px;
            border-radius: 3px;
            margin-top: 12px;  
         }
         tr .best{
            background-color :#d2d2d2;

         }
        #search{
            width: 50px;
            position: relative;
    		left: 286px;
    		top: -40px;
        }
        
        div#pageBar{margin-top:10px; text-align:center;}

