@charset "UTF-8";
.obj{
	position: absolute;
    cursor: pointer;
    opacity: 1;
}

/* front */
#door{
	top: 272px;
    left: 345px;
    transform-origin: 0% 50%;
}
#used_flowerpot_key_1{
	width: 40px;
    top: 110px;
    left: 607px;
}
#doorright{
    position: absolute;
    left: 607px;
    top: 292px;
    transform: perspective(1300px) rotateY(90deg);
    height:351px;
    z-index:2;
}
#used_flowerpot{
	top: 600px;
    height: 115px;
}
#driver{
	width: 146px;
    transform: rotateZ(34deg);
    top: 253px;
    left: 496px;
}
#wire{
	width: 50px;
    left: 410px;
    top: 296px;
}
@keyframes 
opendoor1 { 
    20% {
        transform:perspective(1300px) rotateY(-20deg);
    }
    
    40% {
        transform:perspective(1300px) rotateY(-40deg);
    }
    50%{
        transform:perspective(1300px) rotateY(-50deg);
    }
    
    80% {
        transform:perspective(1300px) rotateY(-80deg);
    }
    100% {
        transform:perspective(1300px) rotateY(-80deg);
    }
}
@keyframes
opendoorright{
    20%{
        left: 594px;
        top: 272px;
        height: 376px;
        transform:perspective(1300px) rotateY(72deg);
    }
    40%{
        left: 562px;
        top: 258px;
        height: 403px;
        transform:perspective(1300px) rotateY(64deg);

    }
    50%{
        left: 534px;
        top: 253px;
        height: 411px;
        transform:perspective(1300px) rotateY(40deg);

    }
    80%{
        left: 392px;
        top: 240px;
        height: 435px;
        transform:perspective(1300px) rotateY(30deg);
    }
    100%{
        left: 392px;
        top: 240px;
        height: 435px;
        transform:perspective(1300px) rotateY(30deg);

    }
}
#door_lock1{
    width: 41px;
	top: 402px;
    left: 569px;
    opacity: 0;
}
#used_door_lock1{
    width: 41px;
    top: 402px;
    left: 569px;
}
#door_lock2{
	top: 444px;
    left: 563px;
    width: 62px;
}
#used_door_lock2{
	top: 440px;
    left: 556px;
    width: 75px;
}
#used_used_door_lock2{
	top: 444px;
    left: 563px;
    width: 62px;
}
#flowerpot{
	width: 129px;
    top: 460px;
    left: 50px;
}

#safe{
	top: 468px;
    width: 123px;
    left: 800px;
}
#used_safe{
	top: 482px;
    width: 130px;
    left: 802px;
}

/* left */
#calendar{
	top: 169px;
    left: 700px;
    width: 195px;
}
#under_bed_diary{
	width: 100px;
    height: 50px;
    top: 585px;
    left: 388px;
    opacity: 0;
}
#hintnote1{
    top: 148px;
    left: 347px;
    width: 60px;
    height: 80px;
    display: block;
    opacity: 0;
}


/* back */
#doll{
	top: 50px;
    left: 363px;
}
#used_doll{
	top: 27px;
    width: 104px;
    left: 349px;
}
#used_smallbox{
	width: 109px;
    left: 374px;
    top: 285px;
}
#used_doll_hintnote3{
	width: 50px;
    left: 438px;
    top: 213px;
    opacity: 0;
}
#books_4{
	top: 170px;
    left: 334px;
    opacity: 0;	
}

#smallbox{
	top: 311px;
    left: 397px;
}

#clock{
	top: 322px;
    left: 551px;
}

#books_2{
	top: 400px;
    left: 348px;
    opacity: 0;	
}
#battery{
	display: block;
    width: 131px;
    top: 225px;
    height: 43px;
    left: 409px;
    opacity: 0;
}
#toolbox{
	top: 565px;
    left: 471px;
    opacity: 0;	
}
#cutterknife{
	display: block;
    width: 70px;
    top: 198px;
    left: 368px;
    transform: rotateZ(16deg);
    opacity: 0;
}
#hammer{
	display: block;
    width: 122px;
    top: 160px;
    left: 551px;
    transform: rotateZ(19deg);
    opacity: 0;
}
#used_smallbox_hintnote2{
	width: 95px;
    left: 400px;
    top: 235px;
}


/* right */
#window{
	top: 40px;
    width: 250px;
    left: 600px;
}
#letter{
	top: 633px;
    width: 80px;
}
#water{
	width: 210px;
    left: 693px;
    top: 555px;
}
#used_water{
	width: 210px;
    left: 693px;
    top: 555px;
}
#used_water_hintnote3{
	width: 50px;
    left: 523px;
    top: 200px;
}


/* ceiling */
#ceilinglight{
    width: 300px;
    top: 200px;
    left: 350px;
}
#used_ceilinglight{
    width: 300px;
    top: 200px;
    left: 350px;
}
#used_ceilinglight_key_2{
	width: 63px;
    left: 295px;
    top: 53px;
	
}

#show-obj img:first-of-type{
	position: relative;
	max-width: 700px;
	height: 120%;
}