@charset "UTF-8";
body, html{
   width: 1008px;
   height: 704px;
   padding: 0px;
   margin: 0 auto;
   background:black;
}

div#warning{
   text-align:center;
   position: relative;
   width:60%;
   height:40%;
   top: 25%;
   border:2px solid red;
   border-style:dashed;
   color:red;
   font-size:15px;
   font-weight:bold;
   padding-bottom:20px;
   margin:0 auto;
   animation-name:warningAni;
   animation-duration:5s;
   animation-iteration-count:1;
   opacity:0;

}

@keyframes warningAni{
   0%{
      opacity:0;
   }
   50%{
      opacity:1;
   }
   100%{
      opacity:0;
   }
}
div#prologue{
	position: relative;
	width: 100%;
	height: 100%;
	background: black;
	top: 0;
	display: none;
}
img#background{
	position: fixed;
	width: 800px;
	height: 600px;
	margin: 0 auto;
}
div#prologue div#msgBox{
	position: relative;
	width: 80%;
	height: 15%;
	margin: 0 auto;
	top: 72%;
	border: 2px solid white;
	background: black;
	color: white;
}
div#msgBox h2{
	position: relative;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	margin: 15px 0 0 20px;
	font-family: 'Song Myung', serif;
	font-size: 180%;
}
@-webkit-keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
div#msgBox:before{
	content: "? ? ?";
	position: absolute;
    width: 78px;
    height: 28px;
    border: 2px solid white;
    border-right: 0px;
    top: -32px;
    left: -2px;
    text-align: center;
    font-family: 'Song Myung', serif;
    font-size: 25px;
    padding-left: 8px;
}
div#msgBox:after{
    position: absolute;
    content: " ";
    height: 37px;
    top: -34px;
    left: 95px;
    border-right: 2px solid white;
    transform: rotateZ(-35deg);
}
div#msgBox.me:before{
	content: "김동호";
	position: absolute;
	width: 78px;
    height: 28px;
    border: 2px solid white;
    border-left: 0px;
    top: -32px;
    left: 720px;
    text-align: center;
    font-family: 'Song Myung', serif;
    font-size: 25px;
}
div#msgBox.me:after{
	position: absolute;
    content: "";
    height: 37px;
    top: -34px;
    left: 709px;
    border-left: 0px solid white;
    transform: rotateZ(35deg);
}