@charset "UTF-8";
.obj{
	position: absolute;
    cursor: pointer;
    opacity: 1;
}

/* front */
#door{
	top: 272px;
    left: 345px;
    transform-origin: 0% 50%;
}
#key_1{
	width: 40px;
    top: 110px;
    left: 607px;
}
#doorright{
    position: absolute;
    left: 607px;
    top: 292px;
    transform: perspective(1300px) rotateY(90deg);
    height:351px;
    z-index:2;
}
@keyframes 
opendoor1 { 
    20% {
        transform:perspective(1300px) rotateY(-20deg);
    }
    
    40% {
        transform:perspective(1300px) rotateY(-40deg);
    }
    50%{
        transform:perspective(1300px) rotateY(-50deg);
    }
    
    80% {
        transform:perspective(1300px) rotateY(-80deg);
    }
    100% {
        transform:perspective(1300px) rotateY(-80deg);
    }
}
@keyframes
opendoorright{
    20%{
        left: 594px;
        top: 272px;
        height: 376px;
        transform:perspective(1300px) rotateY(72deg);
    }
    40%{
        left: 562px;
        top: 258px;
        height: 403px;
        transform:perspective(1300px) rotateY(64deg);

    }
    50%{
        left: 534px;
        top: 253px;
        height: 411px;
        transform:perspective(1300px) rotateY(40deg);

    }
    80%{
        left: 392px;
        top: 240px;
        height: 435px;
        transform:perspective(1300px) rotateY(30deg);
    }
    100%{
        left: 392px;
        top: 240px;
        height: 435px;
        transform:perspective(1300px) rotateY(30deg);

    }
}
#door_lock1{
    width: 41px;
	top: 402px;
    left: 569px;
    opacity: 0;
}
#door_lock2{
	top: 444px;
    left: 563px;
    width: 62px;
    opacity: 0;
}
#flowerpot{
	width: 129px;
    top: 460px;
    left: 50px;
}

#safe{
	top: 468px;
    width: 123px;
    left: 800px;
}

/* left */
#calendar{
	top: 169px;
    left: 700px;
    width: 195px;
}
#under_bed_diary{
	width: 100px;
    height: 50px;
    top: 585px;
    left: 388px;
    opacity: 0;
}
#hintnote1{
    top: 148px;
    left: 347px;
    width: 60px;
    height: 80px;
    display: block;
    opacity: 0;
}


/* back */
#bs_doll{
	top: 50px;
    left: 363px;
    opacity: 0;	
}
#bs_hintnote3{
	width: 50px;
    left: 438px;
    top: 213px;
    opacity: 0;
}
#bs_4_books{
	top: 170px;
    left: 334px;
    opacity: 0;	
}

#bs_smallbox{
	top: 311px;
    left: 397px;
    opacity: 0;	
}

#bs_clock{
	top: 322px;
    left: 551px;
    opacity: 0;	
}

#bs_2_books{
	top: 400px;
    left: 348px;
    opacity: 0;	
}
#bs_battery{
	display: block;
    width: 131px;
    top: 188px;
    height: 43px;
    left: 409px;
    opacity: 0;
}
#bs_toolbox{
	top: 565px;
    left: 471px;
    opacity: 0;	
}
#bs_cutterknife{
	display: block;
    width: 70px;
    top: 198px;
    left: 368px;
    transform: rotateZ(16deg);
    opacity: 0;
}
#bs_hammer{
	display: block;
    width: 122px;
    top: 160px;
    left: 551px;
    transform: rotateZ(19deg);
    opacity: 0;
}

/* right */
#window{
	top: 40px;
    width: 250px;
    left: 600px;
}
#letter{
	top: 633px;
    width: 80px;
}
#water{
	width: 210px;
    left: 693px;
    top: 555px;
}

/* ceiling */
#ceilinglight{
    width: 300px;
    top: 200px;
    left: 350px;
}

#show-obj img:first-of-type{
	position: relative;
	max-width: 700px;
	height: 100%;
}