@charset "UTF-8";
body, html{
   width: 1008px;
   height: 704px;
   padding: 0px;
   margin: 0 auto;
   overflow: hidden;
   background: black;
   font-family:'Noto Serif KR', serif;
}
div#background-container{
	position: absolute;
	width: 1008px;
	height: 704px;
	overflow: hidden;
}
div#background, div#sub-background{
	position: absolute;
	width: 1008px;
	height: 704px;
}
div#sub-background{
	left: 1008px;
}
div#wrap{
	position: relative;
	width: 100%;
	height: 100%;
}

div#inventory{
	position: relative;
	width: 70%;
	height: 22%;
	top: 100%;
	margin: 0 auto;
	background: lightgray;
	opacity: .9;
	border: 2px solid gray;
	border-radius: 15px;
}
div#inventory div#prev, div#inventory div#next{
	position: relative;
	width: 5%;
	height: 100%;
	opacity: .5;
	background: gray;
}
div#inventory div#prev{float:left; border-radius: 7px 0 0 0; visibility: hidden;}
div#inventory div#prev span{display: inline-block; margin: 57px 0 0 11px; cursor: cursor;}
div#inventory div#next{float:right; border-radius: 0 7px 0 0;}
div#inventory div#next span{display: inline-block; margin: 57px 0 0 8px; cursor: cursor;}
div#inventory div#prev:hover, div#inventory div#next:hover{cursor: pointer;opacity: 1;}
div#inventory div#prev:hover span, div#inventory div#next:hover span{transform: scale(1.2);}
div#inventory div#obj-list-container{
	position: relative;
	width: 565px;
	height: 75%;
	top: 7%;
	margin: 0 auto;
	overflow: hidden;
}
div#inventory div#obj-list{
	position: relative;
	width: 200%;
	height: 100%;
	margin-left: 13px;
	white-space: nowrap;
}
div#inventory div#obj-list div{
	position: relative;
	display: inline-block;
	width: 90px;
	height: 90px;
	top: 13%;
	margin-right: 16px;
	border: 1px solid gray;
	cursor: pointer;
}
div#inventory div#obj-list div img{
	display: block;
	width: 80px;
    height: 80px;
	opacity: 1;
    transform: rotateZ(0);
}
div#inventory div#obj-list div:hover{
	border: 1px solid white;
}
div#inventory div#obj-list div#obj5{
	margin-right: 21px;
}
.selected{
	box-shadow: 0px 0px 25px brown;
}
div#inventory:before{
	content:"open"; 
	position: absolute;
	left: 45%;
	height: 15%; 
	top: -50px;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
}
div#inventory.on:before{content:"close";}
div#pause{
	position: absolute;
	left: 960px;
	top: 10px;
	display:none;
}
div#pause img{width: 35px;}
.paused{
	opacity: .5;
}
div#background.paused img[class*=obj]{
	opacity: 0;
}
div#pause-menu-container{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: none;
}
div#pause-menu-container div#pause-menu{
	position: relative;
    width: 20%;
    height: 50%;
    top: 25%;
    border: 1px solid;
    border-radius: 5px;
    margin: 0 auto;
    background: black;
    box-shadow: 5px 5px 50px;
}
div#pause-menu ul{
	list-style: none;
	padding: 0;
	font-family:'Noto Serif KR', serif;
}
div#pause-menu ul li{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	margin-bottom: 40px;
	text-align: center;
}
div#pause-menu ul li:first-of-type{
	margin-bottom: 75px;
	cursor: default;
}

div#pause-menu ul li:first-of-type h3{
	font-size: 130%;
	color: white;
	margin: 0 0 5px 0;
}
div#pause-menu ul li:first-of-type span{
	font-size: 110%;
	color: white;
}

@media screen and (max-width: 1260px) {
    .back {
        width: 50%;
    }
}

@media screen and (max-width: 840px) {
    .back {
        width: 100%;
    }
}

.button_base {
    margin: 0;
    border: 0;
    font-size: 20px;
    position: relative;
    top: 0%;
    left: 61%;
    margin-top: -25px;
    margin-left: -100px;
    width: 160px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}

.b06_3d_swap {
    perspective: 500px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.b06_3d_swap div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    border: #000000 solid 1px;
    pointer-events: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.b06_3d_swap div:nth-child(1) {
    color: #ffffff;
    background-color: #000000;
    transform: translateZ(0px);
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b06_3d_swap div:nth-child(2) {
    color: #000000;
    background-color: #ffffff;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transition: all 0.2s ease 0.05s;
    -webkit-transition: all 0.2s ease 0.05s;
    -moz-transition: all 0.2s ease 0.05s;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b06_3d_swap:hover div:nth-child(1) {
    color: #ffffff;
    background-color: #808080;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: translateZ(-200px);
    -webkit-transform: translateZ(-200px);
    -moz-transform: translateZ(-200px);
}

.b06_3d_swap:hover div:nth-child(2) {
    color: #000000;
    transition: all 0.2s ease 0.05s;
    -webkit-transition: all 0.2s ease 0.05s;
    -moz-transition: all 0.2s ease 0.05s;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}


#store, #help{
   position:absolute;
   width:700px;
   height:600px;
   top: -30px;
   left: 150px;
   background:white;
   box-shadow: 5px 5px 50px;
   border-radius:30px;
   display: none;
   font-family:'Noto Serif KR', serif;
}

#store-Top{
   padding-top:50px;
   width:200px;
   height:35px;
   margin:0 auto;
    text-align: center;   
}

#item{
   width:35px;
   height:35px;
}

#userCoin, #hintPaper{
   position:relative;
   top:-10px;
   font-size:20px;
}

#store-Help{
   font-size:25px;
   text-align:center;
}

h1{
   text-align:center;
   padding-top:40px;
}

#game-Help{
   text-align:center;
   padding-top:10px;
   font-size:20px;
}

#haha{
   font-size:30px;
   display:block;
   margin:0 auto;
}

#btn-buyHint, #btn-useHint{
   border:1px solid black;
   border-radius:20px;
   background:black;
   color:white;
   box-shadow:2px 2px 20px gray;
   width:300px;
   height:70px;
   text-align:center;
   cursor:pointer;
   margin:0 auto;
   margin-top:30px;
}

h2{
   display:inline-block;
   margin:0;
   margin-top:15px;
}

#price{
   width:40px;
   height:40px;
   position:relative;
   top:11px;
}
.close{
	position: relative;
	width: 50px;
	height: 46px;
	margin: 0 auto;	
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	top: 35px;
}
#help .close{
	top: 13px;
}
#message{
    position: absolute;
    width: 450px;
    min-height: 50px;
    border-radius: 10px;
    background: black;
    left: 275px;
    top: 218px;
    color: white;
    text-align: center;
    box-shadow:2px 2px 20px black;
    display: none;
}
#message h2{
	margin-top: 15px;
	margin-bottom: 25px;
	display: block;
}
#message button{
	border-style: none;
	background: black;
	font-family:'Noto Serif KR', serif;
	color: white;
	font-size: 17px;
	margin-right: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}
#message button:hover{
	border: 1px solid white;
	border-radius: 3px;
}
@-webkit-keyframes bling{
	0%{opacity: 1;}
	50%{opacity: .2;}
	100%{opacity: 1;}
}
#hint{
	position: absolute;
	width: 40%;
	height: 56%;
	left: 30%;
	top: 22%;
	display: none;
}
#hint-paper{
	position: absolute;
	width: 400px;
	height: 400px;
}
#hint>div:last-of-type{
	position: absolute;
    width: 275px;
    top: 85px;
    left: 50px;
    transform: rotate(-8deg);
    font-size: 35px;
    word-break: break-all;
}
#hint div#close-hint{
	position: absolute;
    top: 38px;
    left: 297px;
    transform: rotate(-8deg);
    font-size: 19px;
    cursor: pointer;
}
#coment{
	position: absolute;
    width: 80%;
    height: 15%;
    top: 73%;
    border: 2px solid white;
    background: black;
    color: white;
    left: 10%;
    display: none;
}
#coment h2{
	position: relative;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	margin: 15px 0 0 20px;
	font-family: 'Song Myung', serif;
	font-size: 180%;
}
@-webkit-keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
#show-obj{
    position: absolute;
    top: 50px;
    height: 370px;
    width: 1008px;
    text-align: center;
    display: none;
}
#moveRight{
   position: absolute;
   top:1px;
   left:977px;
   z-index:1;
   height:1000px;
   width: 61px;
   background:linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,0.6));
   user-drag: none;
   user-select: none;
   disabled: disabled;
}
#moveRight:hover {
   color: white;
   transition-property: color, transform;
   transition-duration:3s,1s;
   transform: translateX(-30px);
   cursor:pointer;
}
#moveLeft{
   position: absolute;
   top:1px;
   left:-30px;
   z-index:1;
   height:1000px;
   width: 61px;
   background:linear-gradient(90deg,rgba(0,0,0,0.6),rgba(0,0,0,0));
   user-drag: none;
   user-select: none;
}
#moveLeft:hover {
   color: white;
   transition-property: color, transform;
   transition-duration:3s,1s;
   transform: translateX(30px);
   cursor:pointer;
}
#moveCeiling{
   display:none;
   position: absolute;
   top:-30px;
   left:0px;
   height:61px;
   z-index:1;
   width:1008px;
   background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0));
   user-drag: none;
   user-select: none;
   
}
#moveCeiling:hover {
   color: white;
   transition-property: color, transform;
   transition-duration:3s,1s;
   transform: translateY(30px);
   cursor:pointer;
}