@charset "UTF-8";
body, html{
   width: 1008px;
   height: 704px;
   padding: 0px;
   margin: 0 auto;
   overflow: hidden;
   background: black;
   font-family:'Noto Serif KR', serif;
}
div#wrap{
	position: relative;
	width: 100%;
	height: 100%;
	display: none;
}
img#back-ground{
	position: fixed;
	width: 1008px;
	height: 704px;
}
div#inventory{
	position: relative;
	width: 70%;
	height: 22%;
	top: 100%;
	margin: 0 auto;
	background: lightgray;
	opacity: .7;
	border: 2px solid gray;
	border-radius: 22px;
}
div#inventory div#prev, div#inventory div#next{
	position: relative;
	width: 5%;
	height: 100%;
	opacity: .5;
	background: gray;
}
div#inventory div#prev{float:left; border-radius: 19px 0 0 0; visibility: hidden;}
div#inventory div#prev span{display: inline-block; margin: 57px 0 0 11px; cursor: cursor;}
div#inventory div#next{float:right; border-radius: 0 19px 0 0;}
div#inventory div#next span{display: inline-block; margin: 57px 0 0 8px; cursor: cursor;}
div#inventory div#prev:hover, div#inventory div#next:hover{cursor: pointer;opacity: 1;}
div#inventory div#prev:hover span, div#inventory div#next:hover span{transform: scale(1.2);}
div#inventory div#obj-list-container{
	position: relative;
	width: 535px;
	height: 75%;
	top: 7%;
	margin: 0 auto;
	overflow: hidden;
}
div#inventory div#obj-list{
	position: relative;
	width: 200%;
	height: 100%;
	white-space: nowrap;
}
div#inventory div#obj-list div{
	position: relative;
	display: inline-block;
	width: 90px;
	height: 90px;
	top: 13%;
	margin-right: 12.5px;
	border: 1px solid black;
}
div#inventory div#obj-list div#obj5{
	margin-right: 0;
}
div#inventory:before{
	content:"open"; 
	position: absolute;
	width: 100%;
	height: 15%; 
	top: -50px;
	font-size: 30px;
	color: gray;
	text-align: center;
	cursor: pointer;
}
div#inventory.on:before{content:"close";}
div#pause{
	position: absolute;
	left: 960px;
	top: 10px;
}
div#pause img{width: 35px;}
img#back-ground.paused{
	opacity: .5;
}
div#pause-menu-container{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: none;
}
div#pause-menu-container div#pause-menu{
	position: relative;
    width: 20%;
    height: 50%;
    top: 25%;
    border: 1px solid;
    border-radius: 5px;
    margin: 0 auto;
    background: black;
    box-shadow: 5px 5px 50px;
}
div#pause-menu ul{
	list-style: none;
	padding: 0;
	font-family:'Noto Serif KR', serif;
}
div#pause-menu ul li{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	margin-bottom: 40px;
	text-align: center;
}
div#pause-menu ul li:first-of-type{
	margin-bottom: 75px;
	cursor: default;
}

div#pause-menu ul li:first-of-type h3{
	font-size: 130%;
	color: white;
	margin: 0 0 5px 0;
}
div#pause-menu ul li:first-of-type span{
	font-size: 110%;
	color: white;
}

@media screen and (max-width: 1260px) {
    .back {
        width: 50%;
    }
}

@media screen and (max-width: 840px) {
    .back {
        width: 100%;
    }
}

.button_base {
    margin: 0;
    border: 0;
    font-size: 20px;
    position: relative;
    top: 0%;
    left: 61%;
    margin-top: -25px;
    margin-left: -100px;
    width: 160px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}

.b06_3d_swap {
    perspective: 500px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.b06_3d_swap div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    border: #000000 solid 1px;
    pointer-events: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.b06_3d_swap div:nth-child(1) {
    color: #ffffff;
    background-color: #000000;
    transform: translateZ(0px);
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b06_3d_swap div:nth-child(2) {
    color: #000000;
    background-color: #ffffff;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transition: all 0.2s ease 0.05s;
    -webkit-transition: all 0.2s ease 0.05s;
    -moz-transition: all 0.2s ease 0.05s;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b06_3d_swap:hover div:nth-child(1) {
    color: #ffffff;
    background-color: #808080;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: translateZ(-200px);
    -webkit-transform: translateZ(-200px);
    -moz-transform: translateZ(-200px);
}

.b06_3d_swap:hover div:nth-child(2) {
    color: #000000;
    transition: all 0.2s ease 0.05s;
    -webkit-transition: all 0.2s ease 0.05s;
    -moz-transition: all 0.2s ease 0.05s;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}


#store, #help{
   position:absolute;
   width:700px;
   height:600px;
   top: -30px;
   left: 150px;
   background:white;
   box-shadow: 5px 5px 50px;
   border-radius:30px;
   display: none;
   font-family:'Noto Serif KR', serif;
}

#store-Top{
   padding-top:50px;
   width:200px;
   height:35px;
   margin:0 auto;
    text-align: center;   
}

#item{
   width:35px;
   height:35px;
}

#userCoin, #hintPaper{
   position:relative;
   top:-10px;
   font-size:20px;
}

#store-Help{
   font-size:25px;
   text-align:center;
}

h1{
   text-align:center;
   padding-top:40px;
}

#game-Help{
   text-align:center;
   padding-top:10px;
   font-size:20px;
}

#haha{
   font-size:30px;
   display:block;
   margin:0 auto;
}

#myStore-Btn{
   border:1px solid black;
   border-radius:20px;
   background:black;
   color:white;
   box-shadow:2px 2px 20px gray;
   width:300px;
   height:70px;
   text-align:center;
   cursor:pointer;
   margin:0 auto;
   margin-top:30px;
}

h2{
   display:inline-block;
   margin:0;
   margin-top:15px;
}

#price{
   width:40px;
   height:40px;
   position:relative;
   top:11px;
}
.close{
	position: relative;
	width: 50px;
	height: 46px;
	margin: 0 auto;	
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	top: 35px;
}
#help .close{
	top: 13px;
}
#buy-result{
    position: absolute;
    width: 450px;
    height: 50px;
    border-radius: 10px;
    background: black;
    left: 275px;
    top: 218px;
    color: white;
    text-align: center;
    box-shadow:2px 2px 20px black;
    display: none;
}
#buy-result h2{
	margin-top: 7px;
}