@charset "UTF-8";

#notice-Container{
	width:100%;
	min-height:100px;
	margin-top:20px;
}

img#notice-Image{
	width:400px;
	height:280px;
	margin:20px;
	cursor:pointer;
}

#notice-Form{
	background:white;
	width:440px;
	height:400px;
}

#notice-Plain{
	font-size:18px;
	font-weight:bold;
	display:block;
	margin-left:20px;
}

#notice-Urgent{
	color:red;
	font-size:18px;
	font-weight:bold;
	display:block;
	margin-left:20px;
}

#notice-Title{
	display:block;
	margin-left:20px;
}

#notice-Date{
	display:block;
	font-size:14px;
	margin-right:20px;
	float:right;
}

#admin-Btn{
	outline:none;
	background:black;
	color:white;
	border:1px solid white;
	border-radius:5px;
	float:right;
}

#adminBtn-Container{
	width:100%;
	height:30px;
}

#notice-Table{
	margin:0 auto;
	margin-bottom:20px;
}

#notice-Table td{
	padding:8px;
}

#paging-Area{
	width:100%;
	height:50px;
}

div#noticeForm-Container{
	font-family:'Noto Serif KR', serif;
}

table#noticeForm{
	color:white;
	border-collapse:collapse;
	width:800px;
	margin:0 auto;
}

table#noticeForm th{
	padding-top:20px;
	padding-bottom:20px;
	width:100px;
	border-bottom:1px solid gray;
}

table#noticeForm td{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:30px;
	border-bottom:1px solid gray;
}

h1#title, h1#plain{
	color:white;
	text-align:center;
}

h1#urgent{
	color:red;
	text-align:center;
}

#noticeTitle{
	width:500px;
	height:30px;
	background:black;
	color:white;
	border-style:none;
	border-bottom:1px solid gray;
}

#noticeSubmit-Btn{
	width:150px;
	height:50px;
	outline:none;
	border:1px solid white;
	border-radius: 20px;
	background:white;
	font-size:20px;
	font-family: 'Roboto Slab', serif;
	font-weight:bold;
	cursor:pointer;
}

textarea#noticeContent{
	resize:none;
	background:black;
	color:white;
}

img#contentImage{
	position:relative;
	width:400px;
	height:280px;
	margin-top:30px;
}

pre#noticeContent{
	font-family:'Noto Serif KR', serif;
	font-size:18px;
	margin-bottom:30px;
}

div#modify-Notice{
	width:800px;
	margin:0 auto;
	text-align:center;
	margin-top:40px;
}

#noticeModify-Btn, #noticeDelete-Btn{
	width:150px;
	height:50px;
	outline:none;
	border:1px solid white;
	border-radius: 20px;
	background:white;
	font-size:20px;
	font-family: 'Noto Serif KR', serif;
	font-weight:bold;
	cursor:pointer;
}

span.cPage{
	color:red;
}
