@charset "UTF-8";
body{
	background:black;
	color:white;
}

h2{
	padding-top:10px;
	margin-left:62px;
	font-size:18px;
	margin-left:210px;
}

#memberView-Container{
	width:550px;
	height:600px;
	border:1px solid #5D5D5D;
	border-radius:20px;
	margin: 0 auto;
}

#memberView-Container img{
	width: 100px;
	hegiht: 100px;
}

#userId_, #userEmail{
	width:275px;
	height:25px;
	outline:none;
	background:black;
	border-style:none;
	border-bottom: 1px solid gray;
	color:white;
}

table{
	border-collapse: collapse;
	margin-left:56px;
}

th{
	padding-bottom: 15px;
	text-align: center;
}

td{
	padding-bottom:15px;
	text-align:center;
}

#userProfile{
	outline:none;
	border:1px solid white;
	color:white;
	background:black;
	border-radius: 5px;
	width:290px;
}

#profile-Container{
	width:100px;
	height:100px;
	border:1px solid white;
	margin:0 auto;
}

#profilePre{
	position:relative;
	width:100%;
	height:100%;
}

#editInfo-Btn{
	outline:none;
	border:1px solid gray;
	color:white;
	background: gray;
	border-radius: 10px;
	width:275px;
	height:35px;
	font-size:15px;
	cursor:pointer;
	display:block;
	margin:0 auto;
	margin-top:20px;
}

#password-Btn{
	outline:none;
	border:1px solid gray;
	color:white;
	background: gray;
	border-radius: 10px;
	width:275px;
	height:35px;
	font-size:15px;
	cursor:pointer;
	display:block;
	margin:0 auto;
	margin-top:20px;
}

#delete-Btn{
	outline:none;
	border:1px solid gray;
	color:white;
	background: gray;
	border-radius: 10px;
	width:275px;
	height:35px;
	font-size:15px;
	cursor:pointer;
	display:block;
	margin:0 auto;
	margin-top:20px;
}

#null-Profile{
	position:relative;
	width:100%;
	height:100%;
}

