@charset "UTF-8";
body{
	background:black;
	color:white;
}

h2{
	padding-top:10px;
	font-family: 'Noto Serif KR', serif;
	font-size:18px;
	margin-left:190px;
	
}

#memberView-Container{
	width:500px;
	height:550px;
	border-radius:20px;
	margin:0 auto;
	margin-top:50px;
	padding-top:15px;
	box-shadow:0px 0px 120px #353535;
}

#memberView-Container img{
	width: 100px;
	hegiht: 100px;
}

#userId_, #userEmail, #coin{
	width:275px;
	height:25px;
	outline:none;
	background:black;
	border-style:none;
	border-bottom: 1px solid gray;
	color:white;
}

table{
	border-collapse: collapse;
	margin-left:56px;
	margin: 30 auto;
}

th{
	padding-bottom: 15px;
	font-family: 'Noto Serif KR', serif;
	text-align: center;
}

td{
	padding-bottom:15px;
	text-align:center;
}

#userProfile{
	outline:none;
	border:1px solid white;
	color:white;
	background:black;
	border-radius: 5px;
	width:290px;
}

#profile-Container{
	width:100px;
	height:100px;
	border:1px solid white;
	margin:0 auto;
	margin-right: 123px; 
}

#profilePre{
	position:relative;
	width:100%;
	height:100%;
}

#editInfo-Btn, #password-Btn, #delete-Btn{
	outline:none;
	font-family: 'Noto Serif KR', serif;
	font-weight:bold;
	border:1px solid #353535;
	color:white;
	background: #353535;
	border-radius: 10px;
	width:200px;
	height:35px;
	font-size:15px;
	cursor:pointer;
	display:block;
	margin:0 auto;
	margin-top:20px;
}

#null-Profile{
	position:relative;
	width:100%;
	height:100%;
}
