@charset "UTF-8";
body{
	background: black;
	color: white;	
}

h2{
	padding-top:10px;
	font-size:30px;
	text-shadow: 0px 0px 10px red,
				 0px 0px 20px red,
				 0px 0px 30px red,
				 0px 0px 40px red,
				 0px 0px 50px red,
				 0px 0px 60px red;
	text-align: center;

-webkit-animation:blink 1s ease-in-out infinite alternate;
-moz-animation:blink 1s ease-in-out infinite alternate;
animation:blink 1s ease-in-out infinite alternate;
}

@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

div#updatePassword-Container{
	width: 400px;
	min-height: 400px;
 	border: 1px solid #5D5D5D;
	border-radius: 20px;
	background: black;
	background-color: black;
	color: white;
	margin: 24px auto;
}

div#updatePassword-Container table{
	margin: 0 auto;
	border-spacing: 20px;
}

div#updatePassword-Container table tr:last-of-type td{
	text-align: center;
}

.btn{
	outline:none;
	border:1px solid gray;
	color:white;
	background: gray;
	border-radius: 10px;
	width:100px;
	height:35px;
	font-size:15px;
	cursor:pointer;
	display:inline-block;
	margin:0 auto;
	margin-top: 10px;
}