@charset "UTF-8";
body{
	background:black;
	font-family: 'Noto Serif KR', serif;
}

div#updatePassword-Container{
	background: black;
	color: white;
}

div#updatePassword-Container table{
	margin: 0 auto;
	border-spacing: 20px;
}

div#updatePassword-Container table tr:last-of-type td{
	text-align: center;
}

#updatePasswordFrm{
	margin-top: 60px;
}

.myBtn{
	width:100px;
	height:40px;
	outline:none;
	background:#353535;
	color:white;
	border:1px solid #353535;
	border-radius:10px;
	font-family: 'Noto Serif KR', serif;
	font-size:18px;
	font-weight:bold;
	margin-top:10px;
	cursor:pointer;
}

#userPassword, #userPassword_New, #userPassword_Check{
	background:black;
	color:white;
	border-style:none;
	border-bottom:1px solid gray;
	margin-bottom:5px;
}
