<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EscapeRoom</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>semi.common.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <description>-----jsp연결-----</description>
  <servlet>
    <servlet-name>MemberLoginServlet</servlet-name>
    <jsp-file>/WEB-INF/views/member/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLoginServlet</servlet-name>
    <url-pattern>/member/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gotoHome</servlet-name>
    <jsp-file>/WEB-INF/views/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>gotoHome</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>gotoNotice</servlet-name>
    <jsp-file>/WEB-INF/views/notice/noticeList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>gotoNotice</servlet-name>
    <url-pattern>/notice</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>gotoRank</servlet-name>
    <jsp-file>/WEB-INF/views/rank/RankingBoard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>gotoRank</servlet-name>
    <url-pattern>/rank</url-pattern>
  </servlet-mapping>

  <!-- <servlet>
    <servlet-name>gotoSolveBoard</servlet-name>
    <jsp-file>/WEB-INF/views/board/solve/solveBoardList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>gotoSolveBoard</servlet-name>
    <url-pattern>/solveBoard</url-pattern>
  </servlet-mapping> -->
</web-app>