@charset "UTF-8";
body, html{
	margin: 0 auto;
	padding: 0;
	background: black;
}
header{
	position: relative;
	width: 100%;
	height: 180px;
 	border-bottom: 4px double #5D5D5D
}
header div#top{
	position: relative;
	width: 100%;
	height: 25px;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 17px;
}
header div#top div#myMenu{
	position: relative;
	height: 100%;
	float: right;
	margin-right: 15px;
	margin-top: 2px;
	color: white;
}
a:link, a:visited, a:hover{color: white;text-decoration: none;}
header div#logo{
	width: 350px;
	margin: 0 auto;
	color: white;
	font-size: 54px;
	font-family: 'Amatic SC', serif;
	text-shadow: 4px 4px 2px gray;
	cursor: pointer;
	letter-spacing: 4px;
}
header div#menu{
	font-family: 'Roboto Slab', sans-serif;
	font-size: 24px;
	display: inline-block;
	margin-top: 37px;
}
div#menu ul{
	display: table;
	padding: 0px;
	margin: 0 auto;
}
div#menu ul li{
	list-style-type: none;
	float: left;
	text-align: center;
	color: white;
	margin-right: 10px;
}
div#menu ul li a{
	display: block;
	text-decoration: none;
	padding-bottom: 4px;
	margin-left: 30px;
}
div#menu ul li a:hover {
	border-bottom: 3px solid red;
} 
div#game-start{
	float: right;
}
.enter-game {
  background-color: black;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 0 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
.enter-game:before,
.enter-game:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.enter-game:before {
  border-color: white;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.enter-game:after {
  border-bottom-width: 2px;
  border-color: white;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.enter-game:hover,
.enter-game.hover {
  background-color: white;
  color: black;
}
.enter-game:hover:before,
.enter-game.hover:before,
.enter-game:hover:after,
.enter-game.hover:after {
  height: 100%;
  width: 100%;
}