@charset "UTF-8";

h2 {
   font-family: 'Fredericka the Great', cursive;
   font-size : 50px;
   color : #F11C24;
   text-align : center;
}

div#top3 {
   width : 950px;
   height : 500px;
   margin : auto;
   text-align : center;
}

div#top1-container {
   width : 400px;
   height : 230px;
   border : 2px solid #FFDB0B;
   border-radius : 50px;
   margin : auto;
   text-align : center;
}

div#top2-container {
   width : 400px;
   height : 230px;
   border : 2px solid #CACED2;
   border-radius : 50px;
   margin : auto;
   margin-left : 50px;
   margin-top : 50px;
   text-align : center;
}

div#top3-container {
   width : 400px;
   height : 230px;
   border : 2px solid #D49C75;
   border-radius : 50px;
   margin : auto;
   margin-right : 40px;
   margin-top : -233px;
   text-align : center;
}

div#from4to10 {
   width : 950px;
   height : 485px;
   border : 1px solid white;
   margin : auto;
   margin-top : 75px;
   text-align : center;
}

div#from4to10 table#tbl-Rank4-10 {
   margin : auto;
   width : 850px;
   height : 480px;
   border : 1px solid black;
}

div#from4to10 table#tbl-Rank4-10 th {
   font-family : 'Noto Serif KR', serif;
   color : white;
   text-align : center;
   padding : 0;
}

div#from4to10 table#tbl-Rank4-10 td {
   font-family : 'Noto Serif KR', serif;
   color : white;
   text-align : center;
   padding : 0;
}

div#reply-container {
   margin : auto;
   text-align : center;
}

div#reply-container h2 {
   color : white;
   font-family: 'East Sea Dokdo', cursive;
   font-size : 75px;
}

div#reply-container p.warningMessage {
   color : red;
   font-family: 'Noto Serif KR', serif;
   font-size : 15px;
   margin-top : -55px;
}

div#reply-container div#reply {
   width : 950px;
   height : 500px;
   background : rgba(239, 239, 239, 0.5);
   margin : auto;
   text-align : center;
}

div#reply p {
	font-family: 'Song Myung', serif;
	font-weight : bold;
}

div#reply p span {
	color : red;
	font-size : 29px;
}

div#reply textarea {
	margin : auto;
	margin-top : 10px;
}

div#reply form {
	margin-top : -10px;
}

button#btn-insert {
	width : 107px;
	height : 51px;
	position : relative;
	background-color : #999;
	font-family: 'Noto Serif KR', serif;
	color : white;
	margin : auto;
	cursor : pointer;
	top : -19px;
}

div#first{
   width : 100px;
   height : 100px;
   border : 2px solid #FFDB0B;
   border-radius : 40px;
   background : #FFDB0B;
   margin-left : -2px;
   margin-top : -2px;
   text-align : center;
}

div#second{
   width : 100px;
   height : 100px;
   border : 2px solid #CACED2;
   border-radius : 40px;
   background : #CACED2;
   margin-left : -2px;
   margin-top : -2px;
   text-align : center;
   
}

div#third{
   width : 100px;
   height : 100px;
   border : 2px solid #D49C75;
   border-radius : 40px;
   background : #D49C75;
   margin-left : -2px;
   margin-top : -2px;
   text-align : center;
}

p#label-for-grade{
   color : black;
    font-family: 'Abril Fatface', cursive;
    font-size : 35px;
    margin-top : 25px;
}

p.playerInfo{
   color:white;
   font-family : 'Noto Serif KR', serif;
}

img {
	width : 120px;
	height : 120px;
	margin-top : -115px;
	margin-left : 140px;
}

table#tbl-rankComment {
	width : 580px;
	margin : 0 auto;
	margin-top : -350px;
	border-collapse : collapse;
}

table#tbl-rankComment tr td {
	border-bottom : 1px solid;
	border-top : 1px solid;
	padding : 5px;
	line-height : 150%;
}

table#tbl-rankComment tr td:first-of-type {
	
}

table#tbl-rankComment button#btn-reply {
	border : 1px solid #666;
	text-align : center;
	background : white;
	color : black;
	font-size : 12px;
	padding : 7px 10px 6px;
	border-radius : 3px;
	margin : 5px;
	cursor : pointer;
}

table#tbl-rankComment button#btn-delete {
	border : 1px solid #666;
	text-align : center;
	background : #FB4829;
	color : black;
	font-size : 12px;
	padding : 7px 10px 6px;
	border-radius : 3px;
	margin : 5px;
	cursor : pointer;
}

table#tbl-rankComment tr td:last-of-type {
	width : 100px;
}

table#tbl-rankComment button.btn-reply {
	display : none;
}

table#tbl-rankComment sub.rComment-Writer {
	color : white;
	font-size : 14px;
}

table#tbl-rankComment sub.rComment-Date {
	color : tomato;
	font-size : 10px;
}

table#tbl-rankComment tr.rankLevel2 {
	color : black;
	font-size : 14px;
	text-align : center;
}

table#tbl-rankComment tr.rankLevel2 td:first-of-type {
	width : 800px;
	padding-right : 300px;
}